.DrawerToggle {
    width: 40px;/*specyfing height of container*/
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.DrawerToggle div {/*each div is styled as a line*/
    width: 90%;
    height: 3px;
    background-color: white;
}

@media (min-width: 500px) {/*content is not shown on desktop devices*/
    .DrawerToggle {
        display: none;
    }
}